@using RandevuSistemi.Models.Dto
@model List<PoliklinikveAnabilimDaliAdi>

@{
    ViewData["Title"] = "Poliklinikler";
}

<header class="text-center py-4">
    <h1>SauSerdivan Hastanesi</h1>
    <p class="lead">Ana Bilim Dalları ve Poliklinikler</p>
</header>

@{
    // Poliklinikleri Ana Bilim Dalı Adına Göre Alfabetik Sıralama
    var sortedPoliklinikler = Model.OrderBy(item => item.AnaBilimDaliAdi).ToList();
}

@foreach (var item in sortedPoliklinikler)
{
    <div class="list-group mb-3">
        <a href="@Url.Action("DoktorlarVePoliklinik", "Home", new { anaBilimDaliId = item.poliklinik.AnaBilimDaliId })" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">@(item.AnaBilimDaliAdi) Ana Bilim Dalı</h5>
            </div>

            <p class="mb-1">@item.poliklinik.Name Polikliniği</p>
        </a>
    </div>
}

<style>
    body {
        background-image: url('images/banner-bg.jpg'); /* Arka plan resminin dosya yolu */
        background-size: cover; /* Resmi ekran boyutuna göre genişlet */
        background-position: center; /* Resmi ekranda ortala */
        background-repeat: no-repeat; /* Resmi tek seferde yükleyerek tekrar etmesini engelle */
        background-attachment: fixed; /* Sayfa kaydırıldığında arka planın sabit kalmasını sağla */
    }
    .list-group-item:hover {
        background-color: #AFEEEE; /* Burada istediğiniz arka plan rengini belirtebilirsiniz */
        cursor: pointer;
    }
</style>
